
.main-wrapper:focus {
    outline: none;
}

.resource-model-wrapper {
    font-size: 0.9rem;
    font-weight: 300;
}

.headline {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 5px;
    font-size: 1.2rem;
}

.resource-model-wrapper .system .field-wrapper {
    text-align: left;
}

.resource-model-wrapper .system .field-wrapper .title {
    font-weight: bold;
}

.resource-model-wrapper .system .field-wrapper .title.executor {
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 2px;
}

.resource-model-wrapper .system .field-wrapper p {
    margin-bottom: 0;
}

.resource-model-wrapper .system .field-wrapper .sub-field .headline-small {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 0;
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
}

.resource-model-wrapper .system .field-wrapper .sub-field .title {
    font-weight: 400;
}

.resource-model-wrapper .system .field-wrapper .sub-field .sub-field-title {
    text-transform: capitalize;
    font-weight: 400
}

.resource-model-wrapper .system .field-wrapper .sub-field .sub-field-item {
    font-size: 0.8rem;
}

.resource-model-wrapper .system .field-wrapper .sub-field .action-command {
    padding-left: 1rem;
}

.map-wrapper {
    border: 4px solid #212121;
    background-color: #424242;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.map-date {
    font-size: 1rem;
}

.map-wrapper .box {
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.map-wrapper .box .dirty {
    background-color: #f44336;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 1px;
}

.map-wrapper .box .clean {
    background-color: #76ff03;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 1px;
}

.map-wrapper .box .obstacle {
    background-color: #9e9e9e;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 1px;
}

.map-wrapper .box .robot {
    background-image: url('./robot.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    margin-left: 1px;
}

.map-container {
    position: relative;
}

.button-collapse {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.5rem;
}

.button-collapse:hover {
    background-color: #e3e3e3;
    border: 1px solid #212121;
    border-radius: 5px;
}