# jetBrains folder
.idea

.DS_Store

# node modules
*/node_modules
/react-gui/src/config/development.json
/react-gui/src/config/production.json


# eclipse
it.unibo.*/bin/
/.metadata/
RemoteSystemsTempFiles
.recommenders
/it.unibo.project/*
!/it.unibo.project/src/
!/it.unibo.project/src-gen/
!/it.unibo.project/srcMore/
!/it.unibo.project/scripts/
!/it.unibo.project/resouceModel.pl

philips-hue-lamp/\.project

philips-hue-lamp/\.pydevproject

philips-hue-lamp/\.settings/
