# jetBrains folder
.idea

# QActor ignores

it.unibo.*/.classpath
it.unibo.*/.gradle
it.unibo.*/.settings

.DS_Store

# node modules
*/node_modules
/react-gui/src/config/development.json
/react-gui/src/config/production.json

# eclipse
it.unibo.*/bin/
/.metadata/
RemoteSystemsTempFiles
.recommenders
it.unibo.project/*
!it.unibo.project/src/it/unibo/utils/*
!it.unibo.project/src/*.qa
!it.unibo.project/scripts/*
