# jetBrains folder
.idea

# QActor ignores
it.unibo.*/bin/
/.metadata/
RemoteSystemsTempFiles
.recommenders
it.unibo.*/.classpath
it.unibo.*/.gradle
it.unibo.*/.settings

.DS_Store

# node modules
*/node_modules
it.unibo.project/.gradle
it.unibo.project/build
/it.unibo.project/.gradle

# eclipse
.metadata/*
**/.metadata/
**/bin/
**/tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
**/.settings/
**/.loadpath
**/.classpath
**/.recommenders
**/.project

# Gradle

**/.gradle
**/build/
