{
  "dbURL": "<mongo-db-url>",
  "sessionSecret": "<secret>",
  "passwordConfig": {
    "hashBytes": 64,
    "saltBytes": 16,
    "iterations": 872791
  },
  "mqttUrl": "<url>",
  "mqttTopic": "<topic>"
}